{% extends "challenge.html" %}
{% block description %}
{{ challenge.html }}

<div class='mb-3 text-center' id='docker_container' sitekey="{{ recaptcha_site_key | safe }}">
    <div x-ref="get_docker_status" x-data="get_docker_status"
        x-init="get_docker_status('','{{ challenge.id | safe }}')">
    </div>
    <div style="align-items: center; display: flex; justify-content: center;" x-data="loadRecaptcha">
        <div id="recaptcha-container1" x-ref="recaptchaContainer1" sitekey="{{ recaptcha_site_key | safe }}"></div>
    </div>
    <span>
        <a onclick="start_container('','{{ challenge.id | safe }}',grecaptcha.getResponse(),'1')" class='btn btn-dark'>
            <small style='color:white;'><i class="fas fa-play"></i> Start Docker Instance</small>
        </a>
    </span>
</div>
{% endblock %}
